main {
	font-family: 'Arial';
	text-align: center;

}

p {
	color: blue;
}

.about {
	background: green;
	padding: 8px;
}

img {
	height: 100px;
	width: 100px;

}

.column {
	float: left;
	margin-right: 16px;
	margin: 10px;
	width: 20%;
}

.card {
	box-shadow: 0px 4px 8px 0px #b3b3b3f5;
	padding: 0 16px 0 16px;
}

.email {
	color: pink;
	background: brown;
}

.stickhub {
	color: orange;
	background: purple;
	float: center;
	float: bottom;
	font-size: 20px;
}
